.reviews-area {
    padding: 100px 0;
}
.section-header {
    margin-bottom: 80px;
}
.section-header h6 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #bb3239;
}
.section-header h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.section-header hr {
    width: 100px;
    border: 2px solid #bb3239;
    background-color: #bb3239;
}
.reviews-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #bb3239;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.5s;
}
.reviews-btn a:hover {
    background: #000;
    color: #fff;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 25%);
}
